ion-toolbar{
    --background:rgba(48, 132, 184, 0.979);

    ion-menu-button{
        color: #fff;
    }
 }

 ion-title{
     color: azure;
 }

 ion-content {
    --background:rgba(218, 237, 245, 0.979);

    h1 {
        color:black;
        font-size: 45px;
        margin-left: 4%;
        font-weight: 300;
    }

    .operator-sheet {
        
        h2 {
            font-size: 24px;
            color: black;
            font-weight: 300;
        }

        .part {
            font-size: 24px;
            font-weight: 400;
            color:rgb(51, 48, 48);
        }



    }
 }


