ion-toolbar{
    --background:rgba(48, 132, 184, 0.979);
 }

 ion-title{
     color: azure;
 }

 ion-content {                                                                                                                                                                                                                                                                                  
    --background:rgba(218, 237, 245, 0.979);

    .card-1{
        --background:rgba(59, 155, 214, 0.979); 

        ion-button {
            --background:rgba(119, 183, 223, 0.979); 
        }
        }
    
    .card-2{
        --background: #4169e1; 

        ion-button {
            --background: #6283e6;
        }
        }
    
    .card-3{
        --background: #1e88a5; 

        ion-button {
            --background: #50acc6; 

        }
        }

    .card-4{
        --background: #fcc200; 
        ion-button {
            --background:#f5e077;
                        
        }
        }

}
 
    ion-card-title{
        font-size: 18px;
    }

    ion-button {
    font-size: small;
    margin-left: 88%;
    --border-radius:100px;
    --background:rgb(0, 87, 236, 0.6);
    --box-shadow: 3px 3px 5px #d1d1d1;
    }



