<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="operator-menu"></ion-menu-button>
    </ion-buttons>

    <ion-button class="toggle" routerLink="/home" routerDirection="root">Planner</ion-button>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon name="notifications" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <h1>Operator Sheet</h1>
  </ion-header>
   <div class="operator-sheet">
     <ion-card class="card-1">
       <ion-card-content>
        <h2>DETAILS OF PLANNER SHEET</h2>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <p>08.34AM<br>2 AUG 2022</p>
            </ion-col>

              <ion-avatar><img src= ""></ion-avatar>

            <ion-col size="4">
              <p>Muhammad Farhan<br> Planner </p>
            </ion-col> 

            <ion-col>
              <p>DH4225YH</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="part">
          <ion-row>
            <ion-col>
              <p>Part Name: </p>
            </ion-col>

            <ion-col>
              <p>Line Name: </p>   
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Qty Plan: </p>
            </ion-col>

            <ion-col>
              <p>Start Time Plan: </p>   
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Shift: </p>
            </ion-col>

            <ion-col>
              <p>Status: </p>   
            </ion-col>
          </ion-row>
        </ion-grid>
       </ion-card-content>
     </ion-card>
   </div>

   <div class="perfomance-sheet">
    <ion-grid>
      <ion-row>
          <h3>Perfomance Sheet |</h3>
          <ion-button href="#">Add +</ion-button>
      </ion-row>
    </ion-grid>
     <ion-grid>
       <ion-row>
         <ion-col size="4">
          <ion-card>
            <ion-card-title>Part A</ion-card-title>
            <p>0900AM -1200PM<br>950 KG</p>
            <ion-button href="#" class="bordered">
              <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
            </ion-button>
          </ion-card>
         </ion-col>
       </ion-row>
     </ion-grid>
   </div>

   
   <div class="quality-sheet">
    <ion-grid>
      <ion-row>
         <h3>Quality Sheet | </h3>
         <ion-button href="#">Add +</ion-button>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
         <ion-card>
           <ion-card-title>Crack</ion-card-title>
           <p>VALUE: 10</p>
           <ion-button href="#" class="bordered">
            <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
          </ion-button>
         </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <ion-card-title>Dented</ion-card-title>
            <p>VALUE: 9</p>
            <ion-button href="#" class="bordered">
              <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
            </ion-button>
          </ion-card>
         </ion-col>

         <ion-col size="4">
          <ion-card>
            <ion-card-title>Crack</ion-card-title>
            <p>VALUE: 10</p>
            <ion-button href="#" class="bordered">
              <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
            </ion-button>
          </ion-card>
         </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="downtime-sheet">
    <ion-grid>
      <ion-row>
          <h3>Downtime Sheet |</h3>
          <ion-button href="#">Add +</ion-button>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
         <ion-card>
           <ion-card-title>Crack</ion-card-title>
           <p>Problem B</p>
           <ion-button href="#" class="bordered">
            <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
          </ion-button>
         </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card>
            <ion-card-title>Dented</ion-card-title>
            <p>Problem R</p>
            <ion-button href="#" class="bordered">
              <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
            </ion-button>
          </ion-card>
         </ion-col>

         <ion-col size="4">
          <ion-card>
            <ion-card-title>Crack</ion-card-title>
            <p>Problem B</p>
            <ion-button href="#" class="bordered">
              <ion-icon slot="icon-only" name="folder-outline"></ion-icon>
            </ion-button>
          </ion-card>
         </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

