<ion-header>
  <ion-toolbar>
   <ion-title>Operator Jobsheet</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card class="card-1"> 
     <ion-card-header>
       <ion-card-title>Operator Sheet</ion-card-title><br>
     
       <ion-button class="bordered" (click)="arrow1()">
       <ion-icon slot="icon-only" name="arrow-redo"></ion-icon>
     </ion-button>
     </ion-card-header>
 </ion-card>

 <ion-card class="card-2">
   <ion-card-header>
     <ion-card-title>Downtime Sheet</ion-card-title><br>
     
     <ion-button class="bordered" (click)="arrow3()">
       <ion-icon slot="icon-only" name="arrow-redo"></ion-icon>
     </ion-button>

   </ion-card-header>
 </ion-card>

 <ion-card class="card-3">
   <ion-card-header>
     <ion-card-title>Performance Sheet</ion-card-title><br>
     
     <ion-button class="bordered" (click)="arrow2()">
       <ion-icon slot="icon-only" name="arrow-redo"></ion-icon>
     </ion-button>
   </ion-card-header>
 </ion-card>

 <ion-card class="card-4">
   <ion-card-header>
     <ion-card-title>Quality Sheet</ion-card-title><br>
     
     <ion-button class="bordered" (click)="arrow4()">
       <ion-icon slot="icon-only" name="arrow-redo"></ion-icon>
     </ion-button>

   </ion-card-header>
 </ion-card>

</ion-content>