<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="card">
    <ion-img src="../../assets/VSys-OEE-Logo.png"></ion-img>
    <ion-card-content>
      <h1>Fill the form correctly</h1>
      <h3> Sign up to get started! </h3>
    
      <form>

        <app-input label = "Name"></app-input>
        <app-input label = "Email Address" type="email"></app-input>
        <app-input label = "Phone Number" type="number"></app-input>
        <app-input label = "Password" type = "password"></app-input>
        <app-input label = "Re-type Password" type = "password"></app-input>

        <app-button label = 'REGISTER'> </app-button>
      
      </form>  

        <p>Already a member?</p>
        <ion-button color="primary" size="full" fill="clear" (click)="signIn()">Sign In</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>