ion-toolbar{
    --background:rgba(48, 132, 184, 0.979);
 }

 ion-title{
     color: azure;
 }
 ion-content {
    --background:rgba(218, 237, 245, 0.979);
 }

 ion-back-button{
    color: azure;
 }
 
ion-content-title {
    text-align: left;
}

ion-header-title {
    padding-left: 50%;
}