<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
      <ion-title>Operation Jobsheet</ion-title>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-header-title><h1><b>Downtime Sheet</b></h1></ion-header-title>

    <ion-card>
      <ion-card-header>
          <ion-text color="dark"><b>Please fill the form correctly</b></ion-text>
      </ion-card-header>

      <br>

      <ion-card-content> 
        <ion-list>
        
          <ion-item>
            <ion-label>Start Time: </ion-label>
            <ion-select multiple="true" cancelText="Cancel" okText="Okay">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>

          <br>
        
          <ion-item>
            <ion-label>Downtime Period: </ion-label>
            <ion-input type="Number"></ion-input>
          </ion-item>

          <br>

          <ion-item>
            <ion-label>Downtime Problem: </ion-label>
            <ion-select multiple="true" cancelText="Cancel" okText="Okay">
              <ion-select-option value="Crack">Crack</ion-select-option>
              <ion-select-option value="Dented">Dented</ion-select-option>
              <ion-select-option value="Machine stopped">Machine stopped</ion-select-option>
            </ion-select>
          </ion-item>

          <br>

          <ion-item>
            <ion-label>Department Name: </ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="System Integration">System Integration</ion-select-option>
              <ion-select-option value="OEE">OEE</ion-select-option>
              <ion-select-option value="R&D">R&D</ion-select-option>
              <ion-select-option value="ADaPT">ADaPT</ion-select-option>
              
            </ion-select>
          </ion-item>

        </ion-list>

        <br>

        <ion-grid>
          <ion-row>
            
            <ion-col></ion-col>

            <ion-col></ion-col>

            <ion-col></ion-col>

            <ion-col>
              <ion-button color="danger">Cancel</ion-button>
              <ion-button color="success">Submit</ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
        
   
  
      </ion-card-content>
    </ion-card>




</ion-content>