<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
      <ion-title>Operation Jobsheet</ion-title>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-header-title><h1><b>Quality Sheet</b></h1></ion-header-title>

    <ion-card>
      <ion-card-header>
          <ion-text color="dark"><b>Please fill the form correctly</b></ion-text>
      </ion-card-header>

      <br>

      <ion-card-content> 
        <ion-list>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Rejection Type :</ion-label>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Scrap</ion-label>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Rework</ion-label>
                </ion-item>
              </ion-col>

              <ion-col></ion-col>
            </ion-row>
          </ion-grid>

          <br>
        
          <ion-item>
            <ion-label>Defect Name : </ion-label>
            <ion-select multiple="true" cancelText="Nah" okText="Okay!">
              <ion-select-option value="Defect Name 1"></ion-select-option>
              <ion-select-option value="Defect Name 2"></ion-select-option>
              <ion-select-option value="Defect Name 3"></ion-select-option>
              <ion-select-option value="Defect Name 4"></ion-select-option>
            </ion-select>
          </ion-item>

          <br>
        
          <ion-item>
            <ion-label">Value Defect : </ion-label>
            <ion-input type="Number"></ion-input>
          </ion-item>

        </ion-list>

        <br>

        <ion-grid>
          <ion-row>

            <ion-col></ion-col>

            <ion-col></ion-col>

            <ion-col></ion-col>

            <ion-col>
              <ion-button class="button-1" color="danger">Cancel</ion-button>
              <ion-button class="button-2" color="success">Submit</ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>

</ion-content>