ion-button {
    --box-shadow: none;
    --border-radius: 10px;
    --background: #ebeef4;
    height: 48px;
    font-size: 16px;
    color: #123681;
    margin-bottom: 0.5rem;
    text-transform: initial;
    font-weight: 600;
}