ion-header{

    ion-toolbar,ion-item {
        --background: #e5f0f8;

    }

}

ion-content {
    --background:rgba(218, 237, 245, 0.979);

        .slides {
            margin-top: 10px;
            background: #f1f5f8;
            padding: 4px 10px 20px 10px;
            border-radius: 0 0 20px 20px;

            ion-card {
                color: #fff;
                border-radius: 15px;
                width: 60%;
                height: 230px;
                margin: 10px 20px;
                flex: 1 0.8 20rem;
                padding: 2px 2px;
            }

            ion-button {
                font-size: small;
                margin-left:80%;
                --border-radius:100px;
                --box-shadow: 3px 3px 5px #d1d1d1;
            }

            ion-card-title {
                color: #fff;
                font-size: 3rem;
                font-weight: 600;
            }

            p {
                font-size: 25px;

            }

            .icon {
                font-size: 3rem;

            }
        }

        .card-1 {
            --background: #4169e1;
            
            ion-button {
                --background:#1e90ff;
                            
            }
        }

        .card-2 {
            --background: #008b8b;
            
            ion-button {
                --background:#009698;

            }
        }

        .card-3 {
            --background: #fcc200;
            
            ion-button {
                --background:#ffd300;
                            
            }
        }

    .bar-chart {
       
        ion-card {
        border-radius: 15px;
        --background: #fff;
        flex: 1 1 20rem;
        margin: 10px 20px;
        }

        p {
            font-size: 25px;
            font-weight: 400;
        }
    }

    .card-task {

        ion-card-title {
            font-size: 24px;
            font-weight: 600;
        }

        ion-button {
            --background:#00b7eb;
            font-size: small;
            margin-left:80%;
            --border-radius:100px;
            --box-shadow: 3px 3px 5px #d1d1d1;
        }

        ion-list {
            margin:0 0 15px 15px;

            ion-label {
                font-size: 24px;
                position: relative;
            }
        }

        ion-icon {
            font-size: 30px;
        }
    }

    .expired-card {

        ion-progress-bar {
         margin-bottom: 5px;
         padding: 5px;
        }

        ion-card-title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        ion-card-subtitle {
            font-size: 20px;
            font-weight: 500;
            color: black;
        }
    }

    }
